<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1>Prof. Xiaohua Jia's Lab</h1>
      <hr>
      <p>
        <strong>
          Prof. Xiaohua Jia's Lab is in the Department of Computer Science at 
          City University of Hong Kong, focusing on data privacy, distributed systems, networking, 
          cloud computing, and mobile computing research.
        </strong>
      </p>
      <p>
        <strong>
          It's a prolific and well-respected lab for
        </strong>
        <br>
        <strong>
          <span id="transformer-generation"
              style="color:#AECBFA; font-size:1.25em; font-weight:600; letter-spacing:0.5px; font-family:'Georgia','Times New Roman',serif;"
              data-period="5000"
              data-rotate='[
                  {% for generation in site.data.best_lab_generations %}
                      "{{ generation.text }}"{% unless forloop.last %},{% endunless %}
                  {% endfor %}
              ]'>
          </span>
        </strong>
      </p>
    </div>
  </div>

  <!-- 把图片放在 header 内部 -->
  <!-- <img id="cityu" src="resources/img/cityu_logo.png" alt="Prof. Xiaohua Jia's Lab Logo"> -->
</header>
