<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <div class="fill" style="background-image:url('./img/jumbotron/hh.jpg');"></div>
          <div class="carousel-caption">
              <font style="font-size: 54px; line-height: 40px;">Stanford People, AI & Robots Group</font><br/>
              <font style="font-size: 20px; line-height: 40px;">Improving hand hygiene with computer vision at Lucile Packard Children's Hospital</font>
          </div>
      </div>
        <div class="item">
          <div class="fill" style="background-image:url('./img/jumbotron/thermal.png');"></div>
            <div class="carousel-caption">
              <font style="font-size: 54px; line-height: 40px;">Stanford People, AI & Robots Group</font><br/>
              <font style="font-size: 20px; line-height: 40px;">Automatically detecting falls with thermal cameras</font>
            </div>
        </div>
        <div class="item">
          <div class="fill" style="background-image:url('./img/jumbotron/phone.png');"></div>
            <div class="carousel-caption">
              <font style="font-size: 54px; line-height: 40px;">Stanford People, AI & Robots Group</font><br/>
              <font style="font-size: 20px; line-height: 40px;">Analysis of phone-based conversational agents on health and violence reveals new insights</font>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</header>
