<section id="team">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Our Team</h2>
        <hr class="primary">
      </div>
    </div>
  </div>

  <div class="container">
    {% assign sorted_team = site.data.team | sort: "last_name" %}
    {% assign advisor_roles = "Professor,Assistant Professor,Chair Professor" | split: "," %}
    {% assign research_roles = "Research Assistant Professor,Postdoc" | split: "," %}

    <!-- Advisors -->
    <h2 class="section-heading">Advisors</h2>
    <div class="row">
        {% for member in sorted_team %}
        {% unless member.is_alumni %}
            {% if advisor_roles contains member.role %}
            {% include components/member.html member=member %}
            {% endif %}
        {% endunless %}
        {% endfor %}
    </div>

    <!-- Research Staffs -->
    <h2 class="section-heading">Research Staffs</h2>
    <div class="row">
        {% for member in sorted_team %}
        {% unless member.is_alumni %}
            {% if research_roles contains member.role %}
            {% include components/member.html member=member %}
            {% endif %}
        {% endunless %}
        {% endfor %}
    </div>

    <!-- PhD Students -->
    <h2 class="section-heading">PhD Students</h2>
    <div class="row">
      {% for member in sorted_team %}
        {% unless member.is_alumni %}
          {% if member.role == 'PhD student' %}
            {% include components/member.html member=member %}
          {% endif %}
        {% endunless %}
      {% endfor %}
    </div>

    <!-- Research Interns -->
    <h2 class="section-heading">Research Interns</h2>
    <div class="row">
      {% for member in sorted_team %}
        {% unless member.is_alumni %}
          {% if member.role == 'Research intern' or member.role == 'Research Assistant' %}
            {% include components/member.html member=member %}
          {% endif %}
        {% endunless %}
      {% endfor %}
    </div>

    <!-- Master Students -->
    <h2 class="section-heading">Master Students</h2>
    <div class="row">
      {% for member in sorted_team %}
        {% unless member.is_alumni %}
          {% if member.role == 'Master student' %}
            {% include components/member.html member=member %}
          {% endif %}
        {% endunless %}
      {% endfor %}
    </div>

    <!-- Alumni -->
    <h2 class="section-heading">Alumni</h2>
    <div class="row alumni">
      {% for member in sorted_team %}
        {% if member.is_alumni %}
          {% include components/member.html member=member %}
        {% endif %}
      {% endfor %}
    </div>

</section>
